{
    "plugins": ["@shufo/prettier-plugin-blade", "prettier-plugin-tailwindcss"],
    "tailwindConfig": "./tailwind.config.js",
    "overrides": [{
        "files": "*.blade.php",
        "options": {
            "parser": "blade",
            "wrapAttributes": "force-expand-multiline",
            "sortTailwindcssClasses": true,
            "tailwindcssConfigPath": "tailwind.config.js",
            "sortHtmlAttributes": "code-guide",
            "indentInnerHtml": true
        }
    }]
}