{
    "plugins": ["prettier-plugin-blade", "prettier-plugin-tailwindcss"],
    "tailwindConfig": "./tailwind.config.js",
    "overrides": [{
        "files": "*.blade.php",
        "options": {
            "parser": "blade",
            "bladeKeepEmptyLines": true,
            "bladeQuoteProperties": "preserve",
            "bladeFormatPhpCode": false,
            "bladePreservePhpQuotes": true,
            "bladePreserveDirectiveContent": true,
            "bladePreserveText": true,
            "bladePreserveQuotes": true,
            "bladeQuoteStyle": "preserve"
        }
    }]
}