# IDE files
.idea
.vscode

# Dependencies
/node_modules
/vendor

# Build Outputs
/public/build
/public/hot
/public/storage

# Environment Files
.env
.env.*

# Cache Files
.phpunit.result.cache
.php-cs-fixer.cache

# Other
/bootstrap/cache
/storage
*.cache
